
body{
    position: absolute;
    width: 1110px;
    height: 572px;
}
























.atribuicao { font-size: 11px;
     text-align: center; 
    }
.attribution a { color: hsl(228, 45%, 44%);
 }