* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
          box-sizing: border-box;

}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
    background-color: #ecf2f8;
  }

  .container{
    max-width: 90%;
    margin: 1em auto;
  }

  .container .main-card{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
-ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
gap: 2em;
    grid-template-areas: "daniel   daniel  jonathan kira" "jeanette patrick patrick  kira";
  }

  .container .card {
    margin: 0;
  }

  .container .daniel{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: daniel;
  }

  .container .jonathan {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: jonathan;
  }
  
  .container .jeanette {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: jeanette;
  }

  .container .patrick {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: patrick;
  }

  .container .kira {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: kira;
  }

























.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 2em;
  }
  
  .attribution a {
    color: #3e52a3;
  }